.social {
    padding: 10px;
    background: $color-white-transparent;
    border-radius: 20px;

    position: fixed;
    z-index: 10;
    right: 20px;
    top:50%;
    transform: translateY(-50%);

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        :last-child {
            margin: 0;
        }
    }
    &__item {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;

        padding: 5px;
        border-radius: 20px;
        background: $color-1b;

        a {
            img {
                height: 30px;
                width: 30px;
            }
        }
    }
}