.promo {
    padding: 104px 0 0 0;
    background: fixed url('../img/skyscraper/background.svg') center center/cover no-repeat;

    &__slider {
        height: 100%;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
        }


        // bottom: 0;
        // left: 50%;
        // transform: translateX(50%);
    }
}